<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>BBEditDocumentType</key>
    <string>CodelessLanguageModule</string>
    <key>com.barebones.DocumentType</key>
    <string>CodelessLanguageModule</string>
    <key>BBLMLanguageCode</key>
    <string><![CDATA[SASS]]></string>
    <key>BBLMLanguageDisplayName</key>
    <string><![CDATA[SASS]]></string>
    <key>BBLMSuffixMap</key>
    <array>
        <dict>
            <key>BBLMLanguageSuffix</key>
            <string><![CDATA[.sass]]></string>
			<key>BBLMLanguageSuffix</key>
			<string><![CDATA[.scss]]></string>
        </dict>
    </array>
    <key>BBLMColorsSyntax</key>
    <true/>
    <key>BBLMIsCaseSensitive</key>
	<true/>
    <key>BBLMScansFunctions</key>
    <true/>
    <key>BBLMSupportsTextCompletion</key>
    <true/>
	<key>BBLMIsSourceKind</key>
	<true/>
    <key>BBLMKeywordList</key>
    <array>
        <string><![CDATA[a]]></string>
        <string><![CDATA[abbr]]></string>
        <string><![CDATA[acronym]]></string>
        <string><![CDATA[address]]></string>
        <string><![CDATA[area]]></string>
        <string><![CDATA[aside]]></string>
        <string><![CDATA[b]]></string>
        <string><![CDATA[base]]></string>
        <string><![CDATA[big]]></string>
        <string><![CDATA[blockquote]]></string>
        <string><![CDATA[body]]></string>
        <string><![CDATA[br]]></string>
        <string><![CDATA[button]]></string>
        <string><![CDATA[caption]]></string>
        <string><![CDATA[cite]]></string>
        <string><![CDATA[code]]></string>
        <string><![CDATA[col]]></string>
        <string><![CDATA[colgroup]]></string>
        <string><![CDATA[dd]]></string>
        <string><![CDATA[del]]></string>
        <string><![CDATA[dfn]]></string>
        <string><![CDATA[div]]></string>
        <string><![CDATA[dl]]></string>
        <string><![CDATA[dt]]></string>
        <string><![CDATA[em]]></string>
        <string><![CDATA[fieldset]]></string>
        <string><![CDATA[footer]]></string>
        <string><![CDATA[form]]></string>
        <string><![CDATA[frame]]></string>
        <string><![CDATA[frameset]]></string>
        <string><![CDATA[h1]]></string>
        <string><![CDATA[h2]]></string>
        <string><![CDATA[h3]]></string>
        <string><![CDATA[h4]]></string>
        <string><![CDATA[h5]]></string>
        <string><![CDATA[h6]]></string>
        <string><![CDATA[head]]></string>
        <string><![CDATA[header]]></string>
        <string><![CDATA[hr]]></string>
        <string><![CDATA[html]]></string>
        <string><![CDATA[i]]></string>
        <string><![CDATA[iframe]]></string>
        <string><![CDATA[img]]></string>
        <string><![CDATA[input]]></string>
        <string><![CDATA[ins]]></string>
        <string><![CDATA[kbd]]></string>
        <string><![CDATA[label]]></string>
        <string><![CDATA[legend]]></string>
        <string><![CDATA[li]]></string>
        <string><![CDATA[link]]></string>
        <string><![CDATA[map]]></string>
        <string><![CDATA[meta]]></string>
        <string><![CDATA[nav]]></string>
        <string><![CDATA[noframes]]></string>
        <string><![CDATA[noscript]]></string>
        <string><![CDATA[object]]></string>
        <string><![CDATA[ol]]></string>
        <string><![CDATA[optgroup]]></string>
        <string><![CDATA[option]]></string>
        <string><![CDATA[p]]></string>
        <string><![CDATA[param]]></string>
        <string><![CDATA[pre]]></string>
        <string><![CDATA[q]]></string>
        <string><![CDATA[samp]]></string>
        <string><![CDATA[script]]></string>
        <string><![CDATA[select]]></string>
        <string><![CDATA[small]]></string>
        <string><![CDATA[span]]></string>
        <string><![CDATA[strike]]></string>
        <string><![CDATA[strong]]></string>
        <string><![CDATA[style]]></string>
        <string><![CDATA[sub]]></string>
        <string><![CDATA[sup]]></string>
        <string><![CDATA[table]]></string>
        <string><![CDATA[tbody]]></string>
        <string><![CDATA[td]]></string>
        <string><![CDATA[textarea]]></string>
        <string><![CDATA[tfoot]]></string>
        <string><![CDATA[th]]></string>
        <string><![CDATA[thead]]></string>
        <string><![CDATA[title]]></string>
        <string><![CDATA[tr]]></string>
        <string><![CDATA[tt]]></string>
        <string><![CDATA[ul]]></string>
        <string><![CDATA[var]]></string>
        <string><![CDATA[$added_bg_color]]></string>
        <string><![CDATA[$added_color]]></string>
        <string><![CDATA[$alt-text-color]]></string>
        <string><![CDATA[$blueprint_button_active_background_color]]></string>
        <string><![CDATA[$blueprint_button_active_border_color]]></string>
        <string><![CDATA[$blueprint_button_active_font_color]]></string>
        <string><![CDATA[$blueprint_button_background_color]]></string>
        <string><![CDATA[$blueprint_button_border_color]]></string>
        <string><![CDATA[$blueprint_button_font_color]]></string>
        <string><![CDATA[$blueprint_button_font_family]]></string>
        <string><![CDATA[$blueprint_button_hover_background_color]]></string>
        <string><![CDATA[$blueprint_button_hover_border_color]]></string>
        <string><![CDATA[$blueprint_button_hover_font_color]]></string>
        <string><![CDATA[$blueprint_table_header_color]]></string>
        <string><![CDATA[$blueprint_table_stripe_color]]></string>
        <string><![CDATA[$error_bg_color]]></string>
        <string><![CDATA[$error_border_color]]></string>
        <string><![CDATA[$error_color]]></string>
        <string><![CDATA[$feedback_border_color]]></string>
        <string><![CDATA[$font_color]]></string>
        <string><![CDATA[$header_color]]></string>
        <string><![CDATA[$highlight_color]]></string>
        <string><![CDATA[$link_active_color]]></string>
        <string><![CDATA[$link_color]]></string>
        <string><![CDATA[$link_focus_color]]></string>
        <string><![CDATA[$link_hover_color]]></string>
        <string><![CDATA[$link_visited_color]]></string>
        <string><![CDATA[$loud_color]]></string>
        <string><![CDATA[$notice_bg_color]]></string>
        <string><![CDATA[$notice_border_color]]></string>
        <string><![CDATA[$notice_color]]></string>
        <string><![CDATA[$quiet_color]]></string>
        <string><![CDATA[$removed_bg_color]]></string>
        <string><![CDATA[$removed_color]]></string>
        <string><![CDATA[$success_bg_color]]></string>
        <string><![CDATA[$success_border_color]]></string>
        <string><![CDATA[$success_color]]></string>
        <string><![CDATA[+added]]></string>
        <string><![CDATA[+alt]]></string>
        <string><![CDATA[+alternating-rows-and-columns]]></string>
        <string><![CDATA[+anchor-button]]></string>
        <string><![CDATA[+append]]></string>
        <string><![CDATA[+blueprint]]></string>
        <string><![CDATA[+blueprint-debug]]></string>
        <string><![CDATA[+blueprint-form]]></string>
        <string><![CDATA[+blueprint-grid]]></string>
        <string><![CDATA[+blueprint-ie]]></string>
        <string><![CDATA[+blueprint-ie-body]]></string>
        <string><![CDATA[+blueprint-ie-defaults]]></string>
        <string><![CDATA[+blueprint-ie-hacks]]></string>
        <string><![CDATA[+blueprint-interaction]]></string>
        <string><![CDATA[+blueprint-liquid-grid]]></string>
        <string><![CDATA[+blueprint-print]]></string>
        <string><![CDATA[+blueprint-print-body]]></string>
        <string><![CDATA[+blueprint-print-defaults]]></string>
        <string><![CDATA[+blueprint-scaffolding]]></string>
        <string><![CDATA[+blueprint-scaffolding-body]]></string>
        <string><![CDATA[+blueprint-scaffolding-defaults]]></string>
        <string><![CDATA[+blueprint-show-link-urls]]></string>
        <string><![CDATA[+blueprint-typography]]></string>
        <string><![CDATA[+blueprint-typography-body]]></string>
        <string><![CDATA[+blueprint-typography-defaults]]></string>
        <string><![CDATA[+blueprint-utilities]]></string>
        <string><![CDATA[+border]]></string>
        <string><![CDATA[+box]]></string>
        <string><![CDATA[+button-active-colors]]></string>
        <string><![CDATA[+button-base]]></string>
        <string><![CDATA[+button-button]]></string>
        <string><![CDATA[+button-colors]]></string>
        <string><![CDATA[+button-hover-colors]]></string>
        <string><![CDATA[+caps]]></string>
        <string><![CDATA[+clearfix]]></string>
        <string><![CDATA[+colborder]]></string>
        <string><![CDATA[+colruler]]></string>
        <string><![CDATA[+colspacer]]></string>
        <string><![CDATA[+column]]></string>
        <string><![CDATA[+column-base]]></string>
        <string><![CDATA[+comma-delimited-list]]></string>
        <string><![CDATA[+container]]></string>
        <string><![CDATA[+dquo]]></string>
        <string><![CDATA[+error]]></string>
        <string><![CDATA[+fancy-paragraphs]]></string>
        <string><![CDATA[+fancy-type]]></string>
        <string><![CDATA[+feedback-base]]></string>
        <string><![CDATA[+fixed-width-text]]></string>
        <string><![CDATA[+float]]></string>
        <string><![CDATA[+float-left]]></string>
        <string><![CDATA[+float-right]]></string>
        <string><![CDATA[+global-reset]]></string>
        <string><![CDATA[+has-layout]]></string>
        <string><![CDATA[+header-text]]></string>
        <string><![CDATA[+highlight]]></string>
        <string><![CDATA[+horizontal-list]]></string>
        <string><![CDATA[+hover-link]]></string>
        <string><![CDATA[+incr]]></string>
        <string><![CDATA[+inline-block]]></string>
        <string><![CDATA[+inline-list]]></string>
        <string><![CDATA[+inner-table-borders]]></string>
        <string><![CDATA[+last]]></string>
        <string><![CDATA[+link-colors]]></string>
        <string><![CDATA[+link-icon]]></string>
        <string><![CDATA[+link-icon-base]]></string>
        <string><![CDATA[+link-icons]]></string>
        <string><![CDATA[+loud]]></string>
        <string><![CDATA[+nested-reset]]></string>
        <string><![CDATA[+no-bullet]]></string>
        <string><![CDATA[+no-bullets]]></string>
        <string><![CDATA[+no-link-icon]]></string>
        <string><![CDATA[+normal-text]]></string>
        <string><![CDATA[+notice]]></string>
        <string><![CDATA[+nowrap]]></string>
        <string><![CDATA[+outer-table-borders]]></string>
        <string><![CDATA[+pie-clearfix]]></string>
        <string><![CDATA[+prepend]]></string>
        <string><![CDATA[+pretty-bullets]]></string>
        <string><![CDATA[+print-utilities]]></string>
        <string><![CDATA[+pull]]></string>
        <string><![CDATA[+pull-margins]]></string>
        <string><![CDATA[+push]]></string>
        <string><![CDATA[+push-base]]></string>
        <string><![CDATA[+push-margins]]></string>
        <string><![CDATA[+quiet]]></string>
        <string><![CDATA[+removed]]></string>
        <string><![CDATA[+replace-text]]></string>
        <string><![CDATA[+reset]]></string>
        <string><![CDATA[+reset-body-tag]]></string>
        <string><![CDATA[+reset-quotation]]></string>
        <string><![CDATA[+reset-table]]></string>
        <string><![CDATA[+reset-table-cell]]></string>
        <string><![CDATA[+rtl-typography]]></string>
        <string><![CDATA[+rtl-typography-defaults]]></string>
        <string><![CDATA[+showgrid]]></string>
        <string><![CDATA[+sibling-indentation]]></string>
        <string><![CDATA[+span]]></string>
        <string><![CDATA[+sticky-footer]]></string>
        <string><![CDATA[+success]]></string>
        <string><![CDATA[+table-scaffolding]]></string>
        <string><![CDATA[+tag-cloud]]></string>
        <string><![CDATA[+unobtrusive-logo]]></string>
        <string><![CDATA[+unstyled-link]]></string>
        <string><![CDATA[@import]]></string>
		<string><![CDATA[@mixin]]></string>
		<string><![CDATA[@include]]></string>
		<string><![CDATA[=]]></string>
		<string><![CDATA[+]]></string>
    </array>
    <key>BBLMPredefinedNameList</key>
    <array>
        <string><![CDATA[background-attachment]]></string>
        <string><![CDATA[background-color]]></string>
        <string><![CDATA[background-color]]></string>
        <string><![CDATA[background-image]]></string>
        <string><![CDATA[background-position]]></string>
        <string><![CDATA[background-repeat]]></string>
        <string><![CDATA[background]]></string>
        <string><![CDATA[blueprint-utility_classes]]></string>
        <string><![CDATA[border-bottom-color]]></string>
        <string><![CDATA[border-bottom-style]]></string>
        <string><![CDATA[border-bottom-width]]></string>
        <string><![CDATA[border-bottom]]></string>
        <string><![CDATA[border-color]]></string>
        <string><![CDATA[border-left-color]]></string>
        <string><![CDATA[border-left-style]]></string>
        <string><![CDATA[border-left-width]]></string>
        <string><![CDATA[border-left]]></string>
        <string><![CDATA[border-right-color]]></string>
        <string><![CDATA[border-right-style]]></string>
        <string><![CDATA[border-right-width]]></string>
        <string><![CDATA[border-right]]></string>
        <string><![CDATA[border-style]]></string>
        <string><![CDATA[border-top-color]]></string>
        <string><![CDATA[border-top-style]]></string>
        <string><![CDATA[border-top-width]]></string>
        <string><![CDATA[border-top]]></string>
        <string><![CDATA[border-width]]></string>
        <string><![CDATA[border]]></string>
        <string><![CDATA[bottom]]></string>
        <string><![CDATA[clear]]></string>
        <string><![CDATA[color]]></string>
        <string><![CDATA[color]]></string>
        <string><![CDATA[direction]]></string>
        <string><![CDATA[display]]></string>
        <string><![CDATA[float]]></string>
        <string><![CDATA[font-family]]></string>
        <string><![CDATA[font-family]]></string>
        <string><![CDATA[font-family]]></string>
        <string><![CDATA[font-family]]></string>
        <string><![CDATA[font-size]]></string>
        <string><![CDATA[font-style]]></string>
        <string><![CDATA[font-variant]]></string>
        <string><![CDATA[font-weight]]></string>
        <string><![CDATA[height]]></string>
        <string><![CDATA[left]]></string>
        <string><![CDATA[letter-spacing]]></string>
        <string><![CDATA[line-height]]></string>
        <string><![CDATA[list-style]]></string>
        <string><![CDATA[list-style-image]]></string>
        <string><![CDATA[list-style-position]]></string>
        <string><![CDATA[list-style-type]]></string>
        <string><![CDATA[margin-bottom]]></string>
        <string><![CDATA[margin-left]]></string>
        <string><![CDATA[margin-right]]></string>
        <string><![CDATA[margin-top]]></string>
        <string><![CDATA[margin]]></string>
        <string><![CDATA[max-height]]></string>
        <string><![CDATA[max-width]]></string>
        <string><![CDATA[min-height]]></string>
        <string><![CDATA[min-width]]></string>
        <string><![CDATA[opacity]]></string>
        <string><![CDATA[overflow]]></string>
        <string><![CDATA[padding-bottom]]></string>
        <string><![CDATA[padding-left]]></string>
        <string><![CDATA[padding-right]]></string>
        <string><![CDATA[padding-top]]></string>
        <string><![CDATA[padding]]></string>
        <string><![CDATA[position]]></string>
        <string><![CDATA[right]]></string>
        <string><![CDATA[tag-cloud_classes]]></string>
        <string><![CDATA[text-align]]></string>
        <string><![CDATA[text-decoration]]></string>
        <string><![CDATA[text-indent]]></string>
        <string><![CDATA[text-shadow]]></string>
        <string><![CDATA[text-transform]]></string>
        <string><![CDATA[top]]></string>
        <string><![CDATA[vertical-align]]></string>
        <string><![CDATA[visibility]]></string>
        <string><![CDATA[white-space]]></string>
        <string><![CDATA[width]]></string>
        <string><![CDATA[word-spacing]]></string>
        <string><![CDATA[z-index]]></string>
    </array>
    <key>Language Features</key>
    <dict>
        <key>Comment Pattern</key>
        <string><![CDATA[(?x:
                (//.*$) |                               (?# Line comment)
                (/\*(?>(?:(?>[^*]+)|\*(?!/))*)\*/)      (?# Block comment)
			)]]></string>
			<key>Function Pattern</key>
			<string><![CDATA[(?x:
				(?P<function_name>
					@mixin\s[\w-?_?]+(\(.+\))?
					| @include\s[\w-?_?]+(\(.+\))?
					| =[\w-?_?]+(\(.+\))?
					| \+[\w-?_?]+(\(.+\))?
					| \.[\w-?_?]+
					| \#[\w-?_?]+
				)
        )]]></string>
        <key>Open Statement Blocks</key>
        <string><![CDATA[{]]></string>
        <key>Close Statement Blocks</key>
        <string><![CDATA[}]]></string>
        <key>Identifier and Keyword Character Class</key>
			<string>0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz^-_%.+=$@#-</string>
        <key>String Pattern</key>
        <string><![CDATA[(?x:
				(?P<string_double>".+?") | (?P<string_single>'.+?')
			)]]></string>
			<key>Skip Pattern</key>
			<string><![CDATA[(?x:
				(?>
					(?P>comment) | (?P>string)
				)
        )]]></string>
    </dict>
</dict>
</plist>
